@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Inter", serif;
}

.autocomplete-suggestions {
    position: absolute; /* Ensure it's positioned correctly */
    z-index: 2051 !important; /* Lower z-index for suggestions */
  }

  .pac-container {
    z-index: 2051 !important;
}

.pac-target-input {
    z-index: 2051 !important;
}
.pac-container {
    z-index: 2051; /* Set this higher than the modal's z-index */
  }